AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=ueSxRO0nLF1bj93J2hVt
OPENAI_API_KEY= 
GOOGLE_SHEETS_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit