python-dotenv==1.0.1
aiohttp==3.11.12
loguru==0.7.3
boto3
openai==1.74.0
pipecat-ai[webrtc,aws,silero]==0.0.91
pipecat-ai-flows==0.0.17
librosa==0.10.0
soundfile==0.12.1
numpy==1.26.4
browser-use==0.1.40
playwright
orjson==3.10.12
langchain
langchain-aws
langgraph
